RewriteEngine On

# If the requested filename is not a real file on disk
RewriteCond %{REQUEST_FILENAME} !-f
# And it is not a real folder on disk
RewriteCond %{REQUEST_FILENAME} !-d

# Send the request to index.php
RewriteRule ^(.*)$ index.php [L,QSA]
